<div class="flex justify-between rounded-tr-3xl  rounded-tl-3xl  shadow-2xl footer_div">
  <div class="pl-4">
    <ion-tab-button tab="music" routerLink="/dashboard">
      <ion-label><b>Home</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500; margin-top: 2;" name="home" color="light"></ion-icon>
    </ion-tab-button>
  </div>
  <div>
    <ion-tab-button tab="music" routerLink="/submitreport">
      <ion-label><b>Add Report</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500; margin-top: 2;" name="add-circle" color="light"></ion-icon>
    </ion-tab-button>
  </div>

  <div>
    <ion-tab-button tab="games" routerLink="/downloadreport">
      <ion-label><b>Download</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500;" color="light" name="cloud-download"></ion-icon>
    </ion-tab-button>
  </div>

  <div class="pr-4">
    <ion-tab-button tab="games" routerLink="/medicalreport">
      <ion-label><b>Medical History</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500;" color="light" name="shield-checkmark"></ion-icon>
    </ion-tab-button>
  </div>

</div>
