.btn-3 {
  background-image: linear-gradient(to right, #297CB0 0%, #297CB0 5%, #6FC8B6 100%);
}

.image_container {
  width: 100%;
 display:flex;
  justify-content: center;
  // padding-top: 4vh;
  padding: 2vh 0;

  img {
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 1px solid var(--ion-color-medium2);
  }

  .fa_icon_span {
    font-size: 1.2em;
    position: absolute;
    right: 38%;
    top: 8%;
    padding: 5px;
    background: var(--ion-color-light);
    border-radius: 50%;

    .faicon {
      color: var(--ion-color-primary);
    }
  }
}
