<div class="flex justify-start  p-4" style="background-color: #ffffff;">
  <div routerLink="/dashboard">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        clip-rule="evenodd" />
    </svg>
  </div>
  <div>
    <ion-title class="text-blue-500 text-center">About </ion-title>
  </div>
</div>

<ion-content>

  <div align="center">
    <img src="assets/undraw_info.png" alt="" width="70%" height="70%">
  </div>

  <div align="left">
    <ion-label class="pl-4" style="font-size:1.2em;font-weight:bold">About Covigram</ion-label>
    <p class="pl-4 pr-4 text-sm text-gray-500"  style="text-align: justify;margin-top:2%;">
      In 2019, a new virus, SARS-CoV-2, responsible for the COVID-19 disease, was discovered. Asymptomatic and mildly symptomatic patients were forced to quarantine and closely monitor their symptoms and vital signs, most of the time at home. 
      <p class="pl-4 pr-4 text-sm text-gray-500"  style="text-align: justify;">  This paper describes e-CoVig, a novel mHealth application, developed as an alternative to the
      current monitoring paradigm, where the patients are followed up by direct phone contact.</p>
          <p class="pl-4 pr-4 text-sm text-gray-500"  style="text-align: justify;"> The e-CoVig provides a set of functionalities for remote reporting of symptoms, vital signs, and other clinical information to the health services taking care of these patients. The application is designed to register and transmit the heart rate, blood oxygen saturation (SpO2), body temperature, respiration, and cough. </p>
           <p class="pl-4 pr-4 text-sm text-gray-500"  style="text-align: justify;"> The system features a mobile application, a web/cloud platform, and a low-cost specific device to acquire the temperature and
      SpO2. The architecture of the system is flexible and can be configured for different operation conditions.</p>
    
  </div>

</ion-content>
