<ion-content>

  <div routerLink="/forgot" class="pt-5 pl-5">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        clip-rule="evenodd" />
    </svg>
  </div>

  <div class="p-8 pl-15 pr-15" align="center">
    <img src="assets/otpp.png" width="70%" height="70%" alt="">
  </div>

  <div align="center" class="pt-10" style="margin-top: -15%;">
    <ion-label class="text-xl" style="color: #428cff;"><b>Enter The Verification Code</b></ion-label><br>
    <ion-label class="text-sm text-white" style="color: #428cff;">Enter the 4 digit OTP</ion-label>
  </div>

  <ion-grid fixed class="p-5">
    <ion-row>
      <ion-col size="3">
        <div class="col-3 input-effect">
          <input class="effect-19" type="number" placeholder=""
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="1">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="col-3 input-effect">
          <input class="effect-19" type="number" placeholder=""
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="1">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="col-3 input-effect">
          <input class="effect-19" type="number" placeholder=""
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="1">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="col-3 input-effect">
          <input class="effect-19" type="number" placeholder=""
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="1">
          <span class="focus-border">
            <i></i>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class=" p-4 pt-2 pl-6 pr-6" routerLink="/doctordash">
    <ion-button class="w-full -mt-5" expand="block" color="primary">
      Verify OTP <ion-icon class="shake-horizontal ml-3" color="light" slot="end" name="arrow-forward-outline">
      </ion-icon>
    </ion-button>
  </div>
  <div class="flex justify-end pr-6">
    <span>
      <p class="text-sm"><b class="text-blue-600">Resend 00:60</b></p>
    </span>
  </div>



</ion-content>
