<ion-content>

  <div routerLink="/{{backurl}}" class="pt-5 pl-5">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        clip-rule="evenodd" />
    </svg>
  </div>

  <div align="center" style="margin-top: 5%;">
    <img src="assets/undraw_secure.png" width="30%" height="30%" alt="">
  </div>

  <div align="center" class="pt-10" style="margin-top: 2%;">
    <ion-label class="text-xl" style="color: #428cff;"><b>Reset Password</b></ion-label><br>
    <ion-label class="text-sm text-white" style="color: #428cff;">Enter your new password.</ion-label>
  </div>
  
    <form #form_register="ngForm" class="form">
      <ion-row class="p-4">
        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm">
            <ion-input type="text" placeholder="New password" ngModel name="password1"></ion-input>
          </div>     
        </ion-col>
        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm">
            <ion-input type="text" placeholder="Confirm password" ngModel name="password2"></ion-input>
          </div>   
          <ion-text class="error_msg" color="danger" *ngIf="both_same">New password & confirm password must be same. </ion-text>
          <ion-text class="error_msg" color="danger" *ngIf="fill_all">Fill both field. </ion-text>
  
        </ion-col>
    </ion-row>
 

  <div class=" p-4 pt-2 pl-6 pr-6" (click)="update_password(form_register)">
    <button expand="block" class="btn-3 w-full p-2 text-white rounded-sm">
      Verify OTP <ion-icon class="shake-horizontal ml-3" color="light" slot="end" name="arrow-forward-outline">
      </ion-icon>
    </button>
    <!-- <ion-button class="w-full -mt-5" expand="block" color="primary">
      Verify OTP <ion-icon class="shake-horizontal ml-3" color="light" slot="end" name="arrow-forward-outline">
      </ion-icon>
    </ion-button> -->
  </div>
  </form>
  <!-- <div class="flex justify-end pr-6">
    <span>
      <p class="text-sm"><b class="text-blue-600">Resend 00:60</b></p>
    </span>
  </div> -->
  <div class="loader" *ngIf="loader_visibility">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>

</ion-content>
