<ion-content style="margin-top: -10%;">

  <div routerLink="/doctorlogin" class="pt-5 pl-5">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        clip-rule="evenodd" />
    </svg>
  </div>


  <div align="center" style="margin-top: 5%;">
    <img src="assets/account.png" alt="">
  </div>


  <div align="center" class="pt-10" style="margin-top: -5vh;">
    <ion-label class="text-2xl" style="color: #428cff;"><b>New Here ?</b></ion-label><br>
    <ion-label class="text-sm text-white" style="color: #51cab2;">Sign up to create account</ion-label>
  </div>
  <form #form_register="ngForm" class="form">
    <ion-grid fixed>
      <ion-row class="p-4">
        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input type="text" placeholder="First Name" ngModel name="f_name"  onkeyup="this.value=this.value.replace(/[^a-zA-Z]/g,'');"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="f_name"> This field is required.
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input type="text" placeholder="Last Name" ngModel name="l_name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/g,'');"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="l_name"> This field is required.
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input type="email" placeholder="Email / Username" ngModel name="email_username"
              (ionBlur)="check_email_username_Exist($event)"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="email_username"> This field is required.
          </ion-text>
          <ion-text class="error_msg" color="danger" *ngIf="email_username_exist"> This username/ email already exist.
            
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm">
            <ion-input type="number" ngModel name="mobile" placeholder="Mobile Number"
              (ionBlur)="check_exist_mobile($event)" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="mobile_length"> Enter mobile number of 10 digits.
          </ion-text>
          <ion-text class="error_msg" color="danger" *ngIf="mobile_no_exist"> This mobile number is already
            registered with us.</ion-text>

        </ion-col>


        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input placeholder="Password" type="password" ngModel name="password"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="password"> This field is required.
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <div class="relative">
            <select class="block bg-white w-full border border-gray-400 text-gray-700 py-3 px-4 pr-8  " id="grid-state"
              [ngModel]="'Select Gender'" ngModel name="gender">
              <option disabled>Select Gender</option>
              <option>Female</option>
              <option>Male</option>
              <option>Other</option>
            </select>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="gender"> Select gender.</ion-text>
        </ion-col>

        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input type="text" placeholder="Specialization" ngModel name="specialization"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="specialization"> This field is required.</ion-text>

        </ion-col>

        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input type="text" placeholder="State Licence No." ngModel name="state_licence_no"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="state_licence_no">This field is required.</ion-text>

        </ion-col>

        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input type="text" placeholder="NPI No." ngModel name="npi_no"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="npi_no">This field is required.</ion-text>

        </ion-col>

        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input type="text" placeholder="Covid Lab Registration" ngModel name="covid_lab_reg"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="covid_lab_reg">This field is required.</ion-text>

        </ion-col>

        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input type="text" placeholder="Office Address" ngModel name="office_address"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="office_address">This field is required.</ion-text>

        </ion-col>

        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input type="number" placeholder="Work Phone" ngModel name="work_phone"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="work_phone">This field is required.</ion-text>

        </ion-col>

        <ion-col size="12">
          <div class="bg-white border-2 border-gray-300 rounded-sm pl-2">
            <ion-input type="number" placeholder="Fax No." ngModel name="fax_no"></ion-input>
          </div>
          <ion-text class="error_msg" color="danger" *ngIf="fax_no">This field is required.</ion-text>

        </ion-col>

      </ion-row>
    </ion-grid>


    <div class=" p-4 pt-2 pl-6 pr-6" (click)="confirm_mobile(form_register)">
      <button expand="block" class="btn-3 w-full p-2 text-white rounded-sm">
        Create Account <ion-icon class="shake-horizontal ml-3" color="light" slot="end" name="arrow-forward-outline">
        </ion-icon>
      </button>
    </div>
  </form>
  <div class="pb-10" style="margin-left: 6%; margin-top: -10px;" routerLink="/doctorlogin">
    <span>
      <p class="text-sm pl-1" style="font-size: 12px;">Already have an account? <b class="text-blue-600">Login</b></p>
    </span>
  </div>
  
  <div class="loader" *ngIf="loader_visibility">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>
</ion-content>
