<ion-content>

  <!-- <div routerLink="/doctordash" class="pt-5 pl-5">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        clip-rule="evenodd" />
    </svg>
  </div> -->

  <div align="center" class="pt-3  rounded-br-lg rounded-bl-lg footer_div">
    <img src="assets/iconmenu.png" width="20%" height="20%" alt="">
    <ion-text class="pt-3" color="dark"><b>Mr. Rakesh</b><br>
      <p class="text-sm text-black">rakesh.nfo@gmail.com</p><br>
    </ion-text>
  </div>

  <!-- <ion-list class="menu-items" lines="none">        
    <ion-menu-toggle auto-hide="false"> -->
  <ion-item lines="none" style="margin-top: 5%;">
    <ion-icon class="text-base text-gray-600" name="person-add"></ion-icon>&nbsp;&nbsp;
    <ion-text color="dark" class="pl-4 text-sm"><b>Edit Profile</b></ion-text>
  </ion-item>

  <!-- <ion-item lines="none">
    <ion-icon class="text-base text-gray-600" name="add-circle"></ion-icon>&nbsp;&nbsp;
    <ion-text color="dark" class="pl-4 text-sm"><b>Add Doctor & Hospital</b></ion-text>
  </ion-item> -->

  <!-- <ion-item lines="none">
    <ion-icon class="text-base text-gray-600" name="time"></ion-icon>&nbsp;&nbsp;
    <ion-text color="dark" class="pl-4 text-sm"><b>Manage Time Slot</b></ion-text>
  </ion-item>

  <ion-item lines="none">
    <ion-icon class="text-base text-gray-600" name="settings"></ion-icon>&nbsp;&nbsp;
    <ion-text color="dark" class="pl-4 text-sm"><b>Appointment Setting</b></ion-text>
  </ion-item>

  <ion-item lines="none">
    <ion-icon class="text-base text-gray-600" name="calendar"></ion-icon>&nbsp;&nbsp;
    <ion-text color="dark" class="pl-4 text-sm"><b>Add Leave Days</b></ion-text>
  </ion-item> -->

  <ion-item lines="none">
    <ion-icon class="text-base text-gray-600" name="chatbox-ellipses"></ion-icon>&nbsp;&nbsp;
    <ion-text color="dark" class="pl-4 text-sm"><b>Feedback</b></ion-text>
  </ion-item>

  <ion-item lines="none">
    <ion-icon class="text-base text-gray-600" name="share-social"></ion-icon>&nbsp;&nbsp;
    <ion-text color="dark" class="pl-4 text-sm"><b>Share App</b></ion-text>
  </ion-item>

  <ion-item lines="none">
    <ion-icon class="text-base text-gray-600" name="star"></ion-icon>&nbsp;&nbsp;
    <ion-text color="dark" class="pl-4 text-sm"><b>Rate App</b></ion-text>
  </ion-item>

  <ion-item lines="none">
    <ion-icon class="text-base text-gray-600" name="log-out"></ion-icon>&nbsp;&nbsp;
    <ion-text color="dark" class="pl-4 text-sm"><b>Log Out</b></ion-text>
  </ion-item>
  <!-- </ion-menu-toggle>
  </ion-list> -->
</ion-content>

<div class="flex justify-between  rounded-tr-3xl  rounded-tl-3xl  shadow-2xl footer_div">
  <div class="pl-4">
    <ion-tab-button tab="music" routerLink="/doctordash">
      <ion-label><b>Home</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500; margin-top: 2;" name="home" color="light"></ion-icon>
    </ion-tab-button>
  </div>

  <div>
    <ion-tab-button tab="music" routerLink="/todayapp">
      <ion-label><b>Appointment</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500; margin-top: 2;" name="document-text" color="light"></ion-icon>
    </ion-tab-button>
  </div>

  <div>
    <ion-tab-button tab="games" routerLink="/reports">
      <ion-label><b>Reports</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500;" color="light" name="add-circle"></ion-icon>
    </ion-tab-button>
  </div>

  <div class="pr-4" routerLink="/profile">
    <ion-tab-button tab="games">
      <ion-label><b>Profile</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500;" color="light" name="person"></ion-icon>
    </ion-tab-button>
  </div>

</div>
