<ion-content>
  <div routerLink="/login" class="pt-5 pl-5">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        clip-rule="evenodd" />
    </svg>
  </div>

  <div align="center" style="margin-top: 5%;">
    <img src="assets/account.png" alt="">
  </div>

  <div align="center" class="pt-10" style="margin-top: -5vh;">
    <ion-label class="text-2xl" style="color: #428cff;"><b>New Here ?</b></ion-label><br>
    <ion-label class="text-sm text-white" style="color: #51cab2;">Sign up to create account</ion-label>
  </div>
  <form #form_register="ngForm" class="form">

    <ion-row class="p-4">
      <ion-col size="12">
        <div class="bg-white border-2 border-gray-300 rounded-sm">
          <ion-input type="text" placeholder="First Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/g,'');"
            ngModel name="f_name"></ion-input>
        </div>
        <ion-text class="error_msg" color="danger" *ngIf="f_name"> This field is required.</ion-text>

      </ion-col>

      <ion-col size="12">
        <div class="bg-white border-2 border-gray-300 rounded-sm">
          <ion-input type="text" placeholder="Last Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/g,'');"
            ngModel name="l_name"></ion-input>
        </div>
        <ion-text class="error_msg" color="danger" *ngIf="l_name"> This field is required.</ion-text>

      </ion-col>

      <ion-col size="12">
        <div class="bg-white border-2 border-gray-300 rounded-sm">
          <ion-input placeholder="Age" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" ngModel name="age">
          </ion-input>
        </div>
        <ion-text class="error_msg" color="danger" *ngIf="age"> This field is required.</ion-text>

      </ion-col>

      <ion-col size="12">
        <div class="relative">
          <select class="block bg-white w-full border border-gray-400 text-gray-700 py-3 px-4 pr-8  " id="grid-state"
            [ngModel]="'Select Gender'" name="gender">
            <option disabled>Select Gender</option>
            <option>Female</option>
            <option>Male</option>
            <option>Other</option>
          </select>

        </div>
        <ion-text class="error_msg" color="danger" *ngIf="gender"> Select gender.</ion-text>

      </ion-col>

      <ion-col size="12">
        <div class="bg-white border-2 border-gray-300 rounded-sm">
          <ion-input type="text" placeholder="Email / Username" (ionBlur)="check_email_username_Exist($event)" ngModel
            name="email_username"></ion-input>
        </div>
        <ion-text class="error_msg" color="danger" *ngIf="email_username"> This field is required.</ion-text>
        <ion-text class="error_msg" color="danger" *ngIf="email_username_exist"> This username/ email already exist. Try
          something else.</ion-text>
      </ion-col>

      <ion-col size="12">
        <div class="bg-white border-2 border-gray-300 rounded-sm">
          <ion-input type="password" placeholder="Password" name="password" ngModel></ion-input>
        </div>
        <ion-text class="error_msg" color="danger" *ngIf="password"> This field is required.</ion-text>

      </ion-col>

      <ion-col size="12">
        <div class="bg-white border-2 border-gray-300 rounded-sm">
          <ion-input type="number" ngModel name="mobile" placeholder="Mobile Number"
            (keyup)="check_exist_mobile($event)"></ion-input>
        </div>
        <ion-text class="error_msg" color="danger" *ngIf="mobile_length"> Enter mobile number of 10 digits.
        </ion-text>
        <ion-text class="error_msg" color="danger" *ngIf="mobile_no_exist"> This mobile number is already
          registered with us.</ion-text>

      </ion-col>

      <ion-col size="12">
        <div class="bg-white border-2 border-gray-300 rounded-sm">
          <ion-input type="text" placeholder="State" name="state" ngModel></ion-input>
        </div>
        <ion-text class="error_msg" color="danger" *ngIf="state"> This field is required.</ion-text>

      </ion-col>

      <ion-col size="12">
        <div class="bg-white border-2 border-gray-300 rounded-sm">
          <ion-input type="text" placeholder="Country" name="country" ngModel></ion-input>
        </div>
        <ion-text class="error_msg" color="danger" *ngIf="country"> This field is required.</ion-text>

      </ion-col>
    </ion-row>


    <div class=" p-4 pt-2 pl-6 pr-6">
      <button expand="block" class="btn-3 w-full p-2 text-white rounded-sm" (click)="confirm_mobile(form_register)">
        Create Account <ion-icon class="shake-horizontal ml-3" color="light" slot="end" name="arrow-forward-outline">
        </ion-icon>
      </button>
      <!-- <ion-button class="w-full -mt-5" expand="block" color="primary">
      Create Account <ion-icon class="shake-horizontal ml-3" color="light" slot="end" name="arrow-forward-outline">
      </ion-icon>
    </ion-button> -->
    </div>
  </form>
  <div class="pb-10" style="margin-left: 6%; margin-top: -10px;" routerLink="/login">
    <span>
      <p class="text-sm pl-1" style="font-size: 12px;">Already have an account? <b class="text-blue-600">Login</b></p>
    </span>
  </div>

</ion-content>




<!-- <ion-content>
  <div routerLink="/login" class="pt-5 pl-5">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M7.707 3.293a1 1 0 010 1.414L5.414 7H11a7 7 0 017 7v2a1 1 0 11-2 0v-2a5 5 0 00-5-5H5.414l2.293 2.293a1 1 0 11-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        clip-rule="evenodd" />
    </svg>
  </div>

  <div class=" pl-15 pr-15" align="center">
    <img src="assets/doctor_signin.png" width="40%" height="40%" alt="">
  </div>

  <div align="center" class="pt-10" style="margin-top: -5vh;">
    <ion-label class="text-2xl" style="color: #428cff;"><b>New Here ?</b></ion-label><br>
    <ion-label class="text-sm text-white" style="color: #428cff;">Sign up to create account</ion-label>
  </div>
  
  <div class="col-3 input-effect">
    <input class="effect-19" type="text" placeholder="Full Name">
    <label></label>
    <span class="focus-border">
      <i></i>
    </span>
  </div>
  <div class="col-3 input-effect">
    <div class="relative ">
      <select 
        class="effect-19 block appearance-none w-full border border-gray-300 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-400"
        id="grid-state" >
        <option>Select Gender </option>
        <option>Male </option>
        <option>Female </option>
        <option>Other</option>
        
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
      </div>
    </div>
    </div>
  <div class="col-3 input-effect">
    <input class="effect-19" type="number" placeholder="Mobile Number"
      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
      maxlength="10">
    <label></label>
    <span class="focus-border">
      <i></i>
    </span>
  </div>

  <div class="col-3 input-effect">
    <input class="effect-19" type="email" placeholder="Email">
    <label></label>
    <span class="focus-border">
      <i></i>
    </span>
  </div>

  <div class="col-3 input-effect">
    <input class="effect-19" type="text" placeholder="Password"
      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
      maxlength="8">
    <label></label>
    <span class="focus-border">
      <i></i>
    </span>
  </div>

  <div class=" p-4 pt-2 pl-6 pr-6" routerLink="/otp">
    <ion-button class="w-full -mt-5" expand="block" color="primary">
      Create Account <ion-icon class="shake-horizontal ml-3" color="light" slot="end" name="arrow-forward-outline">
      </ion-icon>
    </ion-button>
  </div>

  <div class="pb-10" style="margin-left: 6%; margin-top: -10px;" routerLink="/login">
    <span>
      <p class="text-sm pl-1" style="font-size: 12px;">Already have an account? <b class="text-blue-600">Login</b></p>
    </span>
  </div>

</ion-content> -->
