<ion-content padding class="bg-class">
  <div align="center" style="margin-top: 12%;">
    <img class="heartbeat" src="assets/Covigram logo.png" width="25%" height="25%" alt="">
  </div>

  <ion-grid fixed class="pl-6 pr-6" style="margin-top: 25%;">
    <ion-row>
      <ion-col size="6">
        <label for="radio-card-1" class="radio-card">
          <input [(ngModel)]="type" value="patient" type="radio" name="radio-card" id="radio-card-1" checked />
          <div class="card-content-wrapper">
            <span class="check-icon"></span>
            <div class="card-content" align="center">
              <img src="assets/outline_patient.png" alt="" />
              <h4><b>Patient</b></h4>
            </div>
          </div>
        </label>
      </ion-col>

      <ion-col size="6">
        <label for="radio-card-2" class="radio-card">
          <input [(ngModel)]="type" value="doctor" type="radio" name="radio-card" id="radio-card-2" />
          <div class="card-content-wrapper">
            <span class="check-icon"></span>
            <div class="card-content" align="center">
              <img src="assets/outline_doctor.png" alt="" />
              <h4><b>Doctor</b></h4>
            </div>
          </div>
        </label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="margin-top: 10%;" class="pl-10 pr-10">
    <button (click)="submit()" expand="block" class="btn-3 w-full p-2 text-white rounded-sm">
      Continue <ion-icon class="shake-horizontal ml-3" color="light" slot="end" name="arrow-forward-outline"></ion-icon>
    </button>

  </div>

</ion-content>
